#wrap_intro {
  position: relative;
  width: 100%;
  height: 100%;

  background-image: url(./../images/autumn.jpg);
  background-size: cover;

  > .container {
    position: absolute;
    top: 50%;
    margin-top: -350px;
    left: 50%;
    margin-left: -300px;

    width: 600px;
    height: 700px;
    color: #fff;

    &:after {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      content: '';
      background-color: rgba(0, 0, 0, 0.5);
    }

    > h1 {
      position: absolute;
      top: 50px;
      left: 20px;
      font-size: 50px;
      z-index: 10;
    } // end of h2

    > p {
      position: absolute;
      left: 25px;
      line-height: 50px;
      font-size: 23px;
      z-index: 10;
      font-weight: 600;

      &:nth-of-type(1) {top: 120px;}

      &:nth-of-type(2) {
        top: 400px;

        > a {
          display: block;
          position: absolute;
          top: 150px;
          left: 150px;
          width: 370px;

          color: red;
          font-family: '궁서';
          font-size: 27px;

          > span {
            position: absolute;
            left: 250px;
            opacity: 20%;

            @keyframes move {
              50% {opacity: 50%;}
              100% {left: 280px; opacity: 100%;}
            }
            animation: move 0.8s infinite linear;
          }

          &:hover>span {animation-play-state:paused;}
        } // end of a
      } // end of p:nth-of-type(2)
    } // end of p
  } // end of .container
} // end of #wrap_intro

#wrap {
  display: none;
  width: 1000px;
  margin: 0 auto;

  // 제목
  > header {
    > h1 {
      margin-bottom: 20px;
      color: #222;
      line-height: 70px;
      font-size: 50px;
      text-align: center;
    } // end of h1 (모기 잡기 시뮬레이터)
  } // end of header

  // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  // 본문 내용
  > section.game {
    position: relative;
    width: 1000px;
    height: 830px;

    // 이미지
    > .frame {
      display: block;
      position: relative;
      width: 100%;
      height: 700px;
      background-image: url(./../images/room1.jpg);
      background-size: cover;
      text-indent: -9999px;

      >.filter {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
      } // end of filter

      >.mosquito{
        display: none;
        position: absolute;
        top: 0; // ~ 650px
        left: 0; // ~ 940px
        width: 60px;
        height: 50px;
        background-image: url(./../images/mosquito.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    } // end of .frame

    > .container {
      position: absolute;
      left: 50%;
      margin-left: -500px;
      bottom: 0;
      width: 1000px;
      height: 120px;

      // 시작 버튼
      > .start {
        position: absolute;
        top: 8px;
        left: 10px;
        width: 100px;
        height: 100px;

        font-weight: 800;
        background-color: #fff;
        border-radius: 50%;
        border: none;
        background-color: rgba(253, 0, 0, 0.7);

        &:hover {background-color: rgba(253, 0, 0, 0.8);}
      } // end of .start

      // 시간
      > .count {
        display: block;
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -100px;
        width: 200px;
        height: 100px;

        color: #fff;
        font-size: 50px;
        line-height: 100px;
        text-align: center;
        text-shadow: 0px 0px 20px #fff;
        background-color: #222;
        border-radius: 5px;
      } // end of .count

      // 마리
      > .score {
        display: block;
        position: absolute;
        top: 4px;
        right: 160px;
        // right: 80px;
        width: 200px;
        height: 100px;

        color: #222;
        font-size: 50px;
        line-height: 100px;
        text-align: center;
        border: 1px solid #000;
        border-radius: 5px;
      } // end of .score

      // 전등 스위치
      > .light {
        position: absolute;
        top: 25px;
        right: 0;
        display: block;
        // border: 1px solid #000;
        background-image: url(./../images/btn_toggle.png);
        background-position: -125px -148px;
        width: 148px;
        height: 52px;
        text-indent: -9999px;
      } // end of .light

      > p {
        position: absolute;
        top: 0;
        right: 35px;
      }
    } // end of .container

    // 난이도
    > .level {
      position: absolute;
      left: 50%;
      margin-left: -375px;
      bottom: 18px;
      width: 250px;
      height: 100px;
      box-sizing: border-box;

      > p {
        color: #222;
        box-sizing: border-box;
        font-size: 20px;
        text-align: center;
      } // end of p

      > button {
        position: absolute;
        bottom: 0;
        width: 70px;
        height: 70px;
        border-radius: 5px;

        &.Lv_1 {
          left: 10px;
          background-color: rgba(255, 166, 0, 0.5);
          &:hover,&.on {background-color: rgba(255, 165, 0, 1);}
        } // end of .Lv_1

        &.Lv_2 {
          left: 90px;
          background-color: rgba(255, 255, 0, 0.55);
          &:hover,&.on {background-color: rgba(255, 255, 0, 1);}
        } // end of .Lv_2

        &.Lv_3 {
          left: 170px;
          background-color: rgba(173, 255, 47, 0.6);
          &:hover,&.on {background-color: rgba(173, 255, 47, 1);}
        } // end of .Lv_3

        &.on{
          color: #333;
          font-weight: 600;
          border: 3px solid #555;
        }
      } // end of button
    } // end of .level

    // 설명서
    > .explain_container {
      position: absolute;
      left: -380px;
      top: 50px;
      width: 300px;
      height: 200px;
      background-image: url(./../images/explain.png);
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;

      > h3 {
        position: absolute;
        top: 60px;
        left: 20px;
        font-size: 45px;
        color: #222;
      } // end of h3
      
      &:hover > h3 {color: blue;}
      &:hover > ul {display: block;}

      > ul {
        display: none;
        position: absolute;
        top: 0px;
        left: -50px;
        width: 400px;
        height: 700px;
        color:#222;
        background-image: url(./../images/paper.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: 210px;

        > li {
          position: absolute;
          top: 280px;
          left: 50px;
          width: 300px;
          font-weight: 700;

          &:nth-of-type(2) {top: 320px;}
          &:nth-of-type(3) {top: 360px;}
        }
      } // end of ul
    } // end of .explain_container
  } // end of section.game
 
  cursor {
    width: 10px; height: 10px; 
    background-color: #000; 
    border-radius: 10px; 
    position: absolute; left: 0; top: 0; 
    z-index: 999; 
    transition: background-color .2s, border-color .2s, border-radius .2s, transform .6s
  }
  //end of cursor
  // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 

  // 저작권
  > footer {
    > address {
      width: 100%;
      line-height: 30px;
      font-size: 20px;
      text-align: center;
    }
  } // end of footer
} // end of #wrap